{{ partial "header.html" . }}

<main class="content" role="main">

    <!--<div class="archive">-->
    {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" }}
    <!--
    <h2 class="archive-title">{{ .Key }}</h2>
    -->
    {{ range .Pages }}

    <article class="article">
      <h1 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <span class="archive-item-date">
        {{ .Date.Format "January 2, 2006" }}
      </span>

      {{ $parts := split .Content "<!-- readmore -->" }}
      {{ $summary := index $parts 0 }}
      {{ $summaryHTML := safeHTML $summary }}
      
      {{ if eq $summaryHTML .Content }}
          {{ .Content }}
      {{ else }}
          {{ $summaryHTML }}
          <a href="{{ .Permalink }}">Continue Reading →</a>
      {{ end }}
    </article>
    {{ end }}
    {{ end }}
    <!--</div>-->

</main>

{{ partial "footer.html" . }}
