    <!-- BARRA BRASIL -->
    <div id="barra-brasil">
      <div id="wrapper-barra-brasil">
        <div class="brasil-flag"><a href="http://artigo19.org/blog/2018/12/05/relatorio-da-artigo-19-mostra-declinio-acentuado-na-garantia-da-liberdade-de-expressao-no-mundo/" class="link-barra">Brasil</a></div>
        <span class="acesso-info"><a href="/desservicos" class="link-barra" id="barra-brasil-orgao">Desserviços</a></span>
        <nav>
          <ul id="lista-barra-brasil" class="list">
            <li><a href="#" id="menu-icon"></a></li>
            <li class="list-item first"><a href="/simplificacao" class="link-barra">Simplificação</a></li>
            <!--<li class="list-item"><a href="/queima" class="link-barra">Queima</a></li>-->
            <!--<li class="list-item"><a href="/incendios" class="link-barra">Incêndios</a></li>-->
            <!--<li class="list-item"><a href="/acesso" class="link-barra">Acesso à informação</a></li>-->
            <!--<li class="list-item last last-item"><a href="http://www.brasil.gov.br/canais-do-executivo-federal" class="link-barra">Canais de informação</a></li>-->
          </ul>
        </nav>
        <!--
        <span id="brasil-vlibras"><a class="logo-vlibras" id="logovlibras" href="#"></a>
          <span class="link-vlibras"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" class="barralazy" data-src="//barra.brasil.gov.br/imagens/vlibras.gif" height="116" width="132">&nbsp;<br>Acessible in Brazilian Sign Language <a href="http://www.vlibras.gov.br/">VLibras</a>
          </span>
        </span>
        -->
      </div>
    </div>
