<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
    {{ partial "barra-style.html" . }}
  </head>
  <body>
    {{ partial "barra.html" . }}
    <div class="wrapper">
      <header class="header">
        {{ partial "nav.html" . }}
      </header>
